.box1
{
    /* margin: 0 auto; */
    height: 700px;
    width: 100%;
    /* border: 2px red solid; */
    /* background-color: red; */
    overflow: hidden;
}
.box2
{
    position: relative;
    height: 700px;
    width: 500%;
    left: 0px;
}
.box3
{
    float: left;
    height: 700px;
    width: 20%;
    /* background-color: orange; */
}
.box4
{
    float: left;
    height: 700px;
    width: 20%;
    /* background-color: yellow; */
}
.box5
{
    float: left;
    height: 700px;
    width: 20%;
    /* background-color: green; */
}
.box6
{
    float: left;
    height: 700px;
    width: 20%;
    /* background-color: aquamarine; */
}
.box7
{
    float: left;
    height: 700px;
    width: 20%;
    /* background-color: seagreen; */
}


/* grid-container1 */
 /* ------------------------------------------------------------------- */

.grid-container1{
    display: grid;
    grid-template-columns: 40px 420px 40px ;
    grid-template-rows:50px 60px 40px 80px 90px 50px 80px 90px;
    height: 600px;
    margin: 0px  ;
}



.grid-container1_cell_1{
    grid-row: 2;
    grid-column: 2;
    
}

.grid-container1_cell_1>div>h2{
    font-weight: 700;
    font-size: 28px;
}

.grid-container1_cell_2{
    grid-row: 3;
    grid-column: 2;
}

.grid-container1_cell_2>div>p{
    color: #AAAAAA;
    font-weight: 400;
    font-size: 20px;   
}

.grid-container1_cell_3{
    grid-row: 4;
    grid-column: 2/4;
}

.grid-container1_cell_4{
    grid-row: 5;
    grid-column: 2;
}

.grid-container1_button_sendmail{
    /* font-family: 'Inter'; */
    background: white;
    border-radius: 38px;
    color: 	#5CC428;
    font-weight: 550;
    font-size: 30px;
    border: 1.5px solid #5CC428;
    height: 65px; ;
    width: 400px;
}

.grid-container1_button_sendmail:hover{
    cursor: pointer;
}

.grid-container1_input_text{  
    /* padding:9px 20px;  */
    letter-spacing:3px;
    background:#E8E8E8	;
    border-radius: 37px;
    border:0 none;
    margin-top: 10px;
    cursor:pointer;
    font-size: 15px;
    padding-left: 31px;
    padding-right: 34px;
    width: 330px;
    height: 48px;
    font-weight:500; 
 }

 /* grid-container2 */
 /* ------------------------------------------------------------------- */

 .grid-container2{
    display: grid;
    grid-template-columns: 40px 420px 40px ;
    grid-template-rows:50px 60px 60px 40px 90px 50px 80px 90px;
    height: 600px;
    margin: 0px  ;
}



.grid-container2_cell_1{
    grid-row: 2;
    grid-column: 2;
    
}

.grid-container2_cell_1>div>h2{
    font-weight: 700;
    font-size: 28px;
}

.grid-container2_cell_2{
    grid-row: 7;
    grid-column: 2;
}

.grid-container2_cell_2>div>p{
    color: #AAAAAA;
    font-weight: 400;
    font-size: 20px;   
}

.grid-container2_cell_3{
    grid-row: 3;
    grid-column: 2/4;
}

.grid-container2_cell_4{
    grid-row: 5;
    grid-column: 2;
}

.grid-container2_cell_5{
    grid-row: 5;
    grid-column: 4;
}

.grid-container2_cell_5_lable{
font-weight: 400;
font-size: 30px;
letter-spacing: 0.18em;
color: #D7D2D2;
margin-top: 239px;
}

.grid-container2_cell_5_button{
   
font-weight: 400;
font-size: 20px;
letter-spacing: 0.18em;
color: #D7D2D2;
/* margin-top: 239px; */
background: white;
border-color: white;
border: 0px;
}

.grid-container2_button_sendmail{
    /* font-family: 'Inter'; */
    background: #5CC428;
    border-radius: 38px;
    color: 	white;
    font-weight: 550;
    font-size: 30px;
    border: 1.5px solid #5CC428;
    height: 65px; ;
    width: 400px;
}

.grid-container2_button_sendmail:hover{
    cursor: pointer;
}

.grid-container2_input_text{  
    /* padding:9px 20px;  */
    letter-spacing:3px;
    background:#E8E8E8	;
    border-radius: 37px;
    border:0 none;
    margin-top: 10px;
    cursor:pointer;

    font-size: 15px;
    padding-left: 31px;
    padding-right: 34px;
    width: 330px;
    height: 48px;
    font-weight:500; 
 }


 /* --------------------------------*/
 
.grid-container3 {
    display: grid;
    grid-template-columns: 40px 420px 40px  ;
    grid-template-rows:50px 60px 10px 60px 30px 50px 10px 130px 65px;
    height: 550px;
    margin: 0px ;
}


.grid-container3_cell_1{
    grid-row: 2;
    grid-column: 2;
    
}

.grid-container3_cell_h2{
    font-weight: 700;
    font-size: 28px;
}


.grid-container3_cell_3{
    grid-row: 4;
    grid-column: 2/4;
}

.grid-container3_cell_4{
    grid-row: 4;
    grid-column: 4;
}

.grid-container3_cell_5{
    grid-row: 6;
    grid-column: 2;
}

.grid-container3_cell_6{
    grid-row: 8;
    grid-column: 2;
}

.grid-container3_cell_7{
    grid-row: 9;
    grid-column: 2;
}

.grid-container3_button_sendmail{
    /* font-family: 'Inter'; */
    background: #5CC428;
    border-radius: 38px;
    color: 	white;
    font-weight: 550;
    font-size: 30px;
    border: 1.5px solid #5CC428;
    height: 65px; ;
    width: 247px;
}

.grid-container3_button_sendmail:hover{
    cursor: pointer;
}

.grid-container3_input_text{  
    /* padding:9px 20px;  */
    letter-spacing:3px;
    background:#E8E8E8	;
    border-radius: 37px;
    border:0 none;
    margin-top: 10px;
    cursor:pointer;

    font-size: 15px;
    padding-left: 31px;
    padding-right: 34px;
    width: 330px;
    height: 48px;
    font-weight:500; 
 }


  /* --------------------------------*/

 .grid-container5{
    display: grid;
    grid-template-columns: auto 380px auto ;
    grid-template-rows:100px 100px 100px ;
    margin: 0px;
    height: 550px;   
}

.grid-container5_place1{
    grid-row: 2;
    grid-column: 2;
}

.grid-container5_place1>div{
    margin: 0px 139px 0px 139px;
}

.grid-container5_place2{
    grid-row: 3;
    grid-column: 2;
}


.grid-container5_place2_success_message{
    font-weight: 700;
    font-size: 32px;
    line-height: 132.52%;
    letter-spacing: 0.18em;
    margin: 0px 21px 0px 21px;
}


.grid-container5_place2_Jump_page{
font-weight: 400;
font-size: 22px;
line-height: 132.52%;
letter-spacing: 0.18em;
margin: 0px 60px 0px 60px;
color: #9C9797;
}

.grid-container5_Jump_page{
    background: white;
    border: 0px;
    font-weight: 400;
    font-size: 22px;
    line-height: 132.52%;
    letter-spacing: 0.18em;
    text-decoration:underline;
    color: #21CD24;
}