@import url(https://fonts.googleapis.com/css?family=Lato:900,300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.2;
  /* background-color: #ff1717; */
}

h1 {
  font-size: 40px;
  font-weight: 900;
  color: #000000;
  margin-bottom: 12px;
}

h2 {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 12px;
}

main {
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px;
  width: 100%;
  height: 100%;
  max-width: 600px;
}


.during_time {
  margin-top: 0px;
}
@media screen and (min-width: 400px) {
  .during_time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.during_time .form-item {
  position: relative;
  margin: 12px 0 60px;
}
@media screen and (min-width: 400px) {
  .during_time .form-item {
    margin: 12px 24px 0 0;
  }
}
.during_time label {
  display: block;
  margin-bottom: 8px;
  color: rgb(0, 0, 0);
}
/* 日期選中 */
.during_time input {
  display: block;
  margin-bottom: 8px;
  padding-bottom: 6px;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color: rgb(80, 80, 80);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  border-radius: 0;
  outline: none;
  -webkit-transition: border-color .2s ease-out;
  transition: border-color .2s ease-out;
}
.during_time input:first-child, .during_time input:last-child {
  border-radius: 0;
}
/* 預設日期 */
.during_time input::-webkit-input-placeholder {
  color: #a4a4a4;
  font-size: 14px;
  line-height: 30px;
  -webkit-transition: color .2s .2s ease-out;
  transition: color .2s .2s ease-out;
}
.during_time input:-moz-placeholder {
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 30px;
  -webkit-transition: color .2s .2s ease-out;
  transition: color .2s .2s ease-out;
}
.during_time input::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 30px;
  -webkit-transition: color .2s .2s ease-out;
  transition: color .2s .2s ease-out;
}
.during_time input:-ms-input-placeholder {
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 30px;
  -webkit-transition: color .2s .2s ease-out;
  transition: color .2s .2s ease-out;
}
.during_time input:focus {
  border-bottom-color: #fff;
}
.during_time input:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}
.during_time input:focus:-moz-placeholder {
  color: transparent;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}
.during_time input:focus::-moz-placeholder {
  color: transparent;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}
.during_time input:focus:-ms-input-placeholder {
  color: transparent;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

/* 小字（日期） */
.during_time .date-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  top: calc(100% + 6px);
  font-size: 12px;
  color: rgb(0, 0, 0);
}
@media screen and (min-width: 400px) {
  .during_time .date-text {
    top: 100%;
  }
}

.datepicker.dropdown-menu {
  padding: 0;
  background-clip: border-box;
  border: none;
  border-radius: 0;
  -webkit-animation: popup .2s ease-out forwards;
          animation: popup .2s ease-out forwards;
}

/* 月份 */
.datepicker.dropdown-menu table {
  background-color: #000000;
}
.datepicker.dropdown-menu table thead {
  background-color: #000000;

}
.datepicker.dropdown-menu table thead tr {
  border-top: 0;
}
.datepicker.dropdown-menu table tbody {
  background-color: white;
}
.datepicker.dropdown-menu table tr {
  border-top: 1px solid #ededed;
}
.datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th {
  width: auto;
  height: 24px;
  padding: 8px;
  font-size: 16px;
  border-radius: 0;
  -webkit-transition: background-color .6s ease-out;
  transition: background-color .6s ease-out;
}
@media screen and (min-width: 400px) {
  .datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th {
    padding: 12px;
  }
}
.datepicker.dropdown-menu table tr td:hover, .datepicker.dropdown-menu table tr td.active:hover, .datepicker.dropdown-menu table tr td:active:hover, .datepicker.dropdown-menu table tr th:hover, .datepicker.dropdown-menu table tr th.active:hover, .datepicker.dropdown-menu table tr th:active:hover {
  border-color: #ededed;
  border-radius: 0;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

/* 日期選取 開始 */
.datepicker.dropdown-menu table tr td.focused, .datepicker.dropdown-menu table tr td.selected, .datepicker.dropdown-menu table tr th.focused, .datepicker.dropdown-menu table tr th.selected {
  background-color: #21CD24;
  border-color: #ededed;
  border-radius: 0;
}

/* 日期選取 結束 */
.datepicker.dropdown-menu table tr td.active, .datepicker.dropdown-menu table tr td.active:focus, .datepicker.dropdown-menu table tr td.active.active:hover, .datepicker.dropdown-menu table tr td:active:focus, .datepicker.dropdown-menu table tr td.highlighted, .datepicker.dropdown-menu table tr th.active, .datepicker.dropdown-menu table tr th.active:focus, .datepicker.dropdown-menu table tr th.active.active:hover, .datepicker.dropdown-menu table tr th:active:focus, .datepicker.dropdown-menu table tr th.highlighted {
  background-color: #21CD24;
  border-color: #ededed;
}
.datepicker.dropdown-menu table tr th.datepicker-switch {
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #ffffff;
  background-color: inherit;
  border-radius: 0;
}

/*上 下個月 */
.datepicker.dropdown-menu table tr th.prev,
.datepicker.dropdown-menu table tr th.next {
  color: #ffffff;
  background-color: #000000;
  border-radius: 0;

}
.datepicker.dropdown-menu table tr th.dow {
  padding: 2px 12px;
  font-size: 12px;
  line-height: 2;
  color: #ffffff;
  background-color: #bbbcbb;
  border-top: 1px solid #ffffff;
  border-radius: 0;
}
.datepicker.dropdown-menu table tr td.day {
  width: 24px;
  border-right: 1px solid #ededed;
}
.datepicker.dropdown-menu table tr td.day:last-child {
  border-right-width: 0;
}
.datepicker.dropdown-menu table tr td.range {
  background-color: #eeeeee;
}
.datepicker.dropdown-menu .new,
.datepicker.dropdown-menu .old,
.datepicker.dropdown-menu .disabled,
.datepicker.dropdown-menu .disabled:hover {
  color: #ccc;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.fontawesome-calendar {
  position: absolute;
  top: 26px;
  right: 0;
  font-size: 24px;
  z-index: -99;
}

@-webkit-keyframes popup {
  from {
    opacity: 0;
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes popup {
  from {
    opacity: 0;
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}



/* 自行改的 */

.border_none
{
  border: 0 !important;
}

/* 日期控制項 下底線 */
.date_bar
{
/* backdrop-filter: blur(5px); */
/* background-color: rgba(251, 251, 251, 0.08); */
padding:0 10px;
line-height: 100%;
display: flex;

}

.date_bar i
{
  line-height: 32px;
  position: relative;
  right: 1rem;
  bottom: 0.5rem;
}

.date_box label
{
margin-left: 10px;
}

.date_text
{

margin-bottom: 0 !important;
}


.date_text::placeholder
{
font-weight: 200 ;
font-size: 1.2rem !important;

/* color: #000 !important; */

}
.date_box>main
{
  margin: 0 ;
  padding: 0.5rem;
}
/* .date_bar>input
{
  float:right;
} */
