@charset "UTF-8";
.choose_place_out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-check, .clo_02, .moreSearch_card_clear, .clo_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.moreSearch_button {
  /* display: flex; */
  /* margin-left: 2rem; */
  width: 50px;
  height: 160px;
  position: fixed;
  bottom: 3rem;
  z-index: 10;
  cursor: pointer;
  background: rgba(241, 241, 241, 0.89);
  border-radius: 0 5px 5px 0;
  -webkit-box-shadow: 2px 2px 20px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 20px -1px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: width 0.5s ease-in-out, padding-left 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, padding-left 0.5s ease-in-out;
}
.moreSearch_button i {
  color: hsl(0deg, 2%, 60%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.moreSearch_button span {
  width: 35px;
  height: 0px;
  margin: 15px 0;
  border: 0.5px solid rgba(127, 122, 122, 0.7294117647);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.moreSearch_button p {
  color: hsl(0deg, 1%, 25%);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.moreSearch_button:hover {
  padding-left: 1rem;
  width: 66px;
}
.moreSearch_button:hover i {
  color: #21CD24;
}
.moreSearch_button:hover span {
  border-color: #21CD24;
}
.moreSearch_button:hover p {
  color: #21CD24;
}

/* 滑出卡片 */
.moreSearch_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  z-index: 11;
  width: 0;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.856);
  -webkit-box-shadow: 2px 2px 20px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 20px -1px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(19px);
          backdrop-filter: blur(19px);
  overflow-y: scroll;
}

.moreSearch_card > div {
  margin: 1rem 0;
  font-size: 1.3rem;
}

.clo_1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.clo_1 h1 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.moreSearch_card_clear {
  padding: 0.5rem 1rem;
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  border-radius: 25px;
  border: #FF7A7A 2px solid;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.moreSearch_card_clear i {
  color: black;
  font-size: 0.5rem;
  margin-left: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.moreSearch_card_clear:hover {
  color: rgb(255, 255, 255);
  background-color: #FF7A7A;
  -webkit-transform: translate(-1px, -2px);
          transform: translate(-1px, -2px);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.moreSearch_card_clear:hover i {
  color: rgb(255, 255, 255);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.clo_02 p {
  color: rgb(143, 139, 139);
  font-size: 1rem;
  font-weight: 200;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.moreSearch_card_title {
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  color: black;
  font-size: 1.5rem;
}

.moreSearch_card_box > button {
  border: none;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 50px;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
.moreSearch_card_box > button:hover {
  color: rgb(255, 255, 255);
  background-color: #5CC428;
  border-color: #5CC428;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-1px, -2px);
          transform: translate(-1px, -2px);
}

.moreSearch_card_box_button_change {
  color: rgb(255, 255, 255);
  background-color: #5CC428 !important;
  border-color: #5CC428 !important;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
}

.moreSearch_card_box_button_change_1 {
  color: rgb(255, 255, 255);
  background-color: #5CC428 !important;
  border-color: #5CC428 !important;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
}

/* 選擇性別 */
.moreSearch_card_male label {
  font-size: 1rem;
}

/* 選擇年齡 */
.range_bar_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.range_bar {
  width: 70%;
  /* padding-right: 50px; */
  padding-left: 10px;
  border-color: transparent;
}

.range_bar_box > label {
  font-size: 1rem;
  margin: 0 0 0 10px;
  /* margin-right:5px; */
  color: #0d6efd;
}

.display_block {
  display: block;
}

/* 隱藏 */
.hide {
  display: none;
}

.open {
  left: 30%;
}

.jq_slider_rang_out {
  margin: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  margin-left: 2.5rem !important;
}
.jq_slider_rang_out p {
  font-size: 1rem;
  -ms-flex-item-align: center;
      align-self: center;
  color: rgb(54, 54, 54);
  font-weight: 500;
  margin-top: -7px;
}

.post_content_box .jq_slider_rang {
  width: 80%;
}

.jq_slider_rang {
  width: 65%;
  margin: 0 !important;
}
.jq_slider_rang a {
  background: rgb(0, 0, 0) !important;
  border-radius: 50px;
  font-size: 15px;
  border: #353634 2px solid !important;
  top: -6px !important;
}

.ui-widget-content {
  border: transparent !important;
  background: rgba(53, 54, 52, 0.2431372549) !important;
  border-radius: 25px !important;
  height: 3px !important;
}

.ui-slider-range.ui-widget-header {
  margin: 0 !important;
}

.ui-widget-header {
  background: #353634 !important;
}

.choose_place {
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-color: #000;
  border-bottom: 1.5px solid black;
}
.choose_place i {
  font-size: 1rem;
  float: right;
}

.dropdown_content {
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 10px 10px 10px rgba(73, 73, 73, 0.1);
          box-shadow: 10px 10px 10px rgba(73, 73, 73, 0.1);
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  height: 0;
  overflow: hidden;
  float: left;
  position: absolute;
  top: 39px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.dropdown_content div {
  padding: 1rem 0.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(132, 130, 130);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.dropdown_content div:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: rgb(0, 0, 0);
  background-color: rgb(233, 233, 233);
}

.choose_place_out {
  width: 100%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  overflow: visible;
  position: relative;
}
.choose_place_out i {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.choose_place_out:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.choose_place_out:hover .dropdown_content {
  height: 200px;
  display: block;
  overflow-y: scroll;
}

.form-check {
  margin: 1rem 0;
}

.moreSearch_card_box input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #999;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 0.5rem;
}

input:checked {
  border: 7px solid black;
}

.moreSearch_card_search {
  padding: 0.5rem 1rem;
  font-weight: 400;
  color: white;
  text-align: right;
  font-size: 1rem;
  border-radius: 25px;
  border: #21CD24 2px solid;
  background-color: #21CD24;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.moreSearch_card_search i {
  color: white;
  font-size: 1rem;
  margin-left: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.moreSearch_card_search div {
  float: left;
}
.moreSearch_card_search:hover {
  font-weight: 700;
  -webkit-transform: translate(-1px, -2px);
          transform: translate(-1px, -2px);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.receive {
  margin-left: 22rem;
  position: fixed;
}
.receive:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  cursor: pointer;
}/*# sourceMappingURL=moreSearch.css.map */