@charset "UTF-8";
.activity_content_out, .activity_add_personal_content_out, .view_personal_content_out {
  width: 500px;
  max-width: 375px;
}

.activity_content {
  margin: 28px 0;
}

.activity_img {
  height: 200px;
}

.activity_display_close, .view_activity_add_person_close, .view_personal_close {
  position: fixed;
  margin-top: 1rem;
  margin-left: 20rem;
}

.activity_content_box {
  padding: 1.5rem 2rem;
}

.activity_add_date {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.activity_date {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.activity_title_box {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0rem;
}
.activity_title_box .activity_title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.activity_title_box .my_icon {
  margin: 0.8rem 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.activity_tag {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.activity_tag .keyword_male, .activity_tag .keyword_old, .activity_tag .keyword_deadline, .activity_tag .keyword, .activity_tag .keyword_startline {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.activity_message {
  padding: 2rem 2rem;
  padding-bottom: 0;
}

.activity_message .activity__message_detail .activity__questioner_content {
  margin: 0px 0;
}

.activity_user_message {
  height: 3.5rem;
  padding: 0 2rem;
}

/*檢視報名者ＲＷＤ－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.add_person_card {
  padding: 1.5rem 55px;
}

.activity_content_box {
  padding: 1rem 2rem;
}
.activity_content_box h3 {
  font-size: 2rem;
}

/*觀看他人介紹ＲＷＤ－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.view_personal_content_box {
  padding: 2rem 2rem;
}

.view_personal_title_box .row_left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.view_personal_title_box .row_left .user_img {
  width: 5rem;
  height: 5rem;
  padding-left: 0rem;
}
.view_personal_title_box .row_left .user_img .male_icon {
  margin-top: 3.5rem;
  margin-left: 3.5rem;
}

.user_person_content_box .view_user_content {
  font-weight: 500;
}
.user_person_content_box .view_user_content p:nth-child(1) {
  font-size: 1.2rem;
}
.user_person_content_box .view_user_content p:nth-child(2) {
  font-size: 1.2rem;
}

.post_activitys {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.2rem;
}
.post_activitys p:nth-child(1) {
  font-size: 1.3rem;
  font-weight: 900;
  margin-left: 0.2rem;
}
.post_activitys p:nth-child(2) {
  line-height: 1.3rem;
}

.view_personal_content_out .add_person_out {
  padding: 0 2rem;
  padding-bottom: 2rem;
}
.view_personal_content_out .add_person_out h2 {
  font-size: 1.2rem;
}
.view_personal_content_out .view_personal_about {
  margin: 1rem 2rem;
}
.view_personal_content_out .view_personal_about h2 {
  font-size: 1.2rem;
}

.view_personal_content_out .add_person_out .activity_card_box h3 {
  font-size: 1.3rem;
}

.web_slogen {
  margin-left: 0rem;
}

.post_content_padding_top {
  padding-top: 0rem;
}

.container_post {
  margin: 0;
}

.container_post {
  margin-left: 2rem;
  margin-right: 2rem;
  width: calc(100% - 4rem);
}

.post_content_out {
  margin-top: 0rem;
  padding-top: 50px;
}

.post_content_place .input_box {
  width: 60%;
}

.post_content_box .jq_slider_rang {
  width: 70%;
}

.header_content_post_top {
  top: 10%;
}/*# sourceMappingURL=(index)activity_display_rwd.css.map */