@charset "UTF-8";
.line_icon {
  width: 5px;
  height: 22px;
  margin-right: 0.8rem;
  background: #21CD24;
}

.activity_display {
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: rgba(100, 100, 100, 0.5);
  width: 100%;
  height: 100vh;
}

.activity_content_out {
  background-color: white;
  /* width: calc(100%-32rem); */
  width: 760px;
  margin: 0px auto;
  height: 100vh;
  overflow-y: scroll;
  z-index: 199;
  max-width: 1280px;
}
.activity_content_out ::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.activity_content_out ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0.1px solid rgba(100, 100, 100, 0.2);
}
.activity_content_out ::-webkit-scrollbar-track {
  border-left: 1px solid rgba(100, 100, 100, 0.2);
  border-top: 1px solid rgba(100, 100, 100, 0.2);
  /* background-color: rgba(100, 100, 100, 0.2 ); */
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
}

.activity_display_close {
  position: fixed;
  margin-top: 1rem;
  margin-left: 43rem;
  z-index: 99;
  background-color: transparent;
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
}

.activity_display_close i {
  color: rgba(137, 135, 135, 0.6);
  font-size: 2rem;
  line-height: 3rem;
  cursor: pointer;
}

.activity_img {
  height: 300px;
  background-size: cover;
  z-index: 2;
  max-width: 1280px;
}

@media screen and (max-width: 720px) {
  .activity_img {
    max-width: 375px;
  }
}
.activity_author_img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  margin-left: 2rem;
  /* 使用者照片 */
  background-image: url(../img/vjd_nd.png);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.keyword_startline, .keyword_male, .keyword, .keyword_deadline, .keyword_old {
  text-decoration: none;
  margin-right: 8px;
  padding: 2px 15px;
  background-color: #5CC428;
  color: #fff;
  border-radius: 20px;
  /* align-items: center; */
}

.keyword_deadline, .keyword_old {
  color: #FF7A7A;
  border: 1pt solid #FF7A7A;
  background-color: transparent;
}

.display_none {
  display: none;
}

.activity_display_close i {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.activity_display_close:hover i {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  font-size: 2rem;
  line-height: 3rem;
  color: #FF5858;
}

.activity_img {
  background-image: url(https://images.unsplash.com/photo-1621432253147-464524b9eaa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80);
}

@media screen and (max-width: 720px) {
  .activity_img {
    max-width: 375px;
  }
}
.activity_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  /* bottom:400px; */
  width: 100%;
  height: 5rem;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* background-color: rgb(255, 192, 203); */
  /* box-shadow: 0px -5px 12px -7px rgb(0 0 0 / 25%) */
  /* 背景圖 */
}

.activity_author_detail {
  height: 100%;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.activity_author_detail :nth-child(1) {
  margin-bottom: 0.5px;
}
.activity_author_detail :nth-child(2) {
  color: #9C9797;
}

.activity_content_box_out {
  margin-bottom: 2rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(128, 128, 128, 0.4);
}

.activity_content_box {
  padding: 1.5rem 4rem;
}

.add_activity {
  border: 1pt solid #5CC428;
  color: #FFF;
  border-radius: 20px;
  padding: 6px 10px 6px 8px;
  background-color: #5CC428;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.add_activity i {
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 0.3rem;
  color: #fff;
}
.add_activity:hover {
  -webkit-transform: translate(-1px, -2px);
          transform: translate(-1px, -2px);
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.add_activity:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.add_activity:hover {
  background-color: #21CD24;
  color: #F8F7F7;
}

.activity_title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}
.activity_title_box .activity_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.activity_title_box h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 13%);
}
.activity_title_box .my_icon {
  color: #9C9797;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
  margin-bottom: 6px;
}
.activity_title_box .my_icon i {
  margin-right: 0.5rem;
}

.keyword_male {
  background-color: #FF7A7A;
}

.keyword_startline {
  text-decoration: none;
  margin-right: 8px;
  padding: 2px 15px;
  background-color: transparent;
  color: #009CDF;
  border-radius: 20px;
  border: 1pt solid #009CDF;
}

.activity_content {
  margin: 2rem 0;
  line-height: 1.5rem;
  color: #7E7D7D;
}
.activity_content p {
  margin-bottom: 1.5rem;
}
.activity_content hr {
  border: 0.5px solid #D9CCCC;
}

.activity_detail_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.activity_detail_box .my_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}
.activity_detail_box .my_icon p {
  font-size: 1.1rem;
  font-weight: bold;
  color: hsl(0deg, 0%, 13%);
}
.activity_detail_box .activity_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.activity_detail_box .activity_date p {
  color: hsl(0deg, 2%, 60%);
  font-size: 1rem;
  margin-left: 1.1rem;
  margin-bottom: 1rem;
}

.activity_add_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.activity_add_date p {
  color: hsl(0deg, 2%, 60%);
  font-size: 1rem;
  margin-left: 1.1rem;
  margin-bottom: 1rem;
}

.activity_add_person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}
.activity_add_person i {
  color: #21CD24;
  font-size: 1rem;
  margin-left: 1.1rem;
  margin-bottom: 1rem;
}
.activity_add_person :nth-child(2) {
  color: #21CD24;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.activity_author_can_see {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
.activity_author_can_see button {
  margin-left: 0.5rem;
  text-decoration: none;
  padding: 3px 15px;
  border-radius: 10px;
  border: transparent;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.activity_author_can_see button.view_activity_add_person {
  background-color: #009CDF;
  color: white;
}
.activity_author_can_see button.view_activity_add_person:hover {
  background-color: #77d5fd;
}
.activity_author_can_see button.edit_activity_content {
  border: 1pt solid #009CDF;
  background-color: transparent;
  color: #009CDF;
}
.activity_author_can_see button.delet_activity_content {
  background-color: #FF5858;
  color: white;
}

.activity_message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
  width: 100%;
  padding: 2rem 4rem 0rem 4rem;
  background-color: #F5F5F5;
}
.activity_message .my_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  height: 2rem;
}
.activity_message .my_icon i {
  color: #21CD24;
  font-size: 1rem;
  margin-right: 0.8rem;
}
.activity_message .my_icon p {
  font-size: 1.1rem;
  font-weight: bold;
}
.activity_message .activity__questioner_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.activity_message .activity__message_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1pt solid #D9CCCC;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 5rem;
}
.activity_message .activity__message_detail .activity__questioner_content {
  margin: 5px 0;
  padding: 0.2rem 0;
  border-radius: 25px;
  color: #7E7E7E;
}
.activity_message .activity__message_detail .activity__questioner_name {
  font-weight: 600;
}
.activity_message .activity__message_detail .activity__questioner_img {
  width: 36px;
  height: 36px;
  border-radius: 40px;
  margin-right: 1rem;
  background-image: url(../img/vjd_nd.png);
  background-position: center;
  background-size: cover;
}
.activity_message .activity__message_detail .activity__question_time {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #9C9797;
  margin-bottom: 8px;
}

@media screen and (max-width: 720px) {
  .activity_message .activity__message_detail {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 2rem;
    height: 5rem;
  }
  element.style {
    background-image: url(https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
  }
  .activity_message .activity__message_detail .activity__questioner_img {
    margin-right: 0rem;
  }
  .activity__questioner_clo {
    padding-left: 1rem;
  }
}
.see_all_message_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5F5F5;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.see_all_message_box i {
  margin-left: 1rem;
  color: #595959;
}

.activity_user_message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #fff;
  -webkit-box-shadow: 0px -5px 12px -7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -5px 12px -7px rgba(0, 0, 0, 0.25);
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
.activity_user_message :nth-child(4) {
  margin-right: 0;
}
.activity_user_message .message_box {
  background-color: #F1F1F1;
  color: #393838;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  border: none;
  outline: none;
  font-size: 1rem;
}
.activity_user_message .message_box::-webkit-input-placeholder {
  color: #d8d8d8;
}
.activity_user_message .message_box::-moz-placeholder {
  color: #d8d8d8;
}
.activity_user_message .message_box:-ms-input-placeholder {
  color: #d8d8d8;
}
.activity_user_message .message_box::-ms-input-placeholder {
  color: #d8d8d8;
}
.activity_user_message .message_box::placeholder {
  color: #d8d8d8;
}
.activity_user_message i {
  margin: 0rem 1.2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.activity_user_message i:hover {
  color: #21CD24;
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
}
.activity_user_message .fa-star:hover {
  color: rgb(247, 217, 47);
}

.activity_add_person_img_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.activity_add_person_img_box .activity_add_person_img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  /* 使用者照片 */
  background-image: url(../img/vjd_nd.png);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.activity_add_person_img_box .activity_add_person_img:nth-child(13n+8) .hover_user_out {
  left: -80px;
}

.activity_add_person_img_box .activity_add_person_img:nth-child(13n+9) .hover_user_out {
  left: -124px;
}

.activity_add_person_img_box .activity_add_person_img:nth-child(13n+10) .hover_user_out {
  left: -168px;
}

.activity_add_person_img_box .activity_add_person_img:nth-child(13n+11) .hover_user_out {
  left: -212px;
}

.activity_add_person_img_box .activity_add_person_img:nth-child(13n+12) .hover_user_out {
  left: -256px;
}

.activity_add_person_img_box .activity_add_person_img:nth-child(13n+13) .hover_user_out {
  left: -300px;
}

.activity__message_detail_out:nth-child(3) ~ .activity__message_detail_out {
  display: none;
}

.activity__message_detail_out_block {
  display: block !important;
}/*# sourceMappingURL=(index)activity_display.css.map */